repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((pybinrpc|pybinrpc_support|pylint|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=empty
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/|.github/ISSUE_TEMPLATE/bug_report_de.yml
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(pybinrpc|pybinrpc_support|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=devel
          - --branch=master
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py313-plus
          - --force
          - --keep-updates
        files: ^(pybinrpc|pybinrpc_support|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(pybinrpc|pybinrpc_support|pylint)/.+\.py$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0
        language: script
        types_or: [python, pyi]
        files: ^(pybinrpc|pybinrpc_support)/.+\.py$
      - id: kwonly-lint
        name: kwonly-lint
        entry: script/run-in-env.sh python script/lint_kwonly.py pybinrpc pybinrpc_support
        language: script
        types_or: [python, pyi]
        files: ^(pybinrpc|pybinrpc_support)/.+\.py$
