-r requirements.txt
-r requirements_test_pre_commit.txt

coverage==7.11.0
freezegun==1.5.5
mypy==1.18.2
pip==25.2
pre-commit==4.3.0
pur==7.3.3
pylint-strict-informational==0.1
pylint==4.0.0
pytest-aiohttp==1.1.0
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-rerunfailures==16.1
pytest-socket==0.7.0
pytest-timeout==2.4.0
pytest==8.4.2
types-python-slugify==8.0.2.20240310
uv==0.9.6
